div, header, footer {
    margin: 0 auto;
    text-align: center;
}

h1 {
    padding: 110px 0;
}

.second h1 {
    padding: 340px;
    color: wheat;


}
.first {


    border: 7px solid green;
    height: 300px;
    background-color: aquamarine;
    width: 80%;

}

.second {


    border: 8px dotted aquamarine;
    height: 800px;
    background-color: purple;
    
    width: 70%;

}


.third {
    border: 10px dashed whitesmoke;
    height: 300px;
    background-color: blue;
    
    color: aliceblue;
    width: 90%;

}