body {


    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    font-style: normal;
    padding-top: 100px;
    
      
    ;
}

td {
  padding: 15px;
}

#contactform {
    font-family: 'Courier New', Courier, monospace;

}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #0099CC;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: white;
    font-weight: bold;
    color: #0099CC;
    border: 1px solid #0099CC
  }
  
  /* Add a background color and some padding around the form */



  .contenido-contacto {

    width: 100%;
    padding-top: 70px; 
    background-image: url("../img/contacto.png");
    background-repeat: no-repeat; 
    background-size: cover
  }
  
  .toprighticons {
    width: 100%
  }

  .toprighticons table {

    padding-top: 30px

  }

  .dropdown {
    width: 100%;display: flex; align-items: center; 
  }

